.Footer{
    width: 100vw;
    min-height: 100px;
    background: black;
    text-align: center;
    margin-top: 50px;

    h1,
    h2{
        color: #72777a;
    }

    h1{
        font-size: 1.1rem;
        letter-spacing: 00.143rem;
        line-height: 60px;
    }

    h2{
        letter-spacing: 00.6rem;
    }
}