$default_transition: 200ms !default;

$default_transition_popup_boxes: 250ms;

$menu-messages-width: 220px;

$menu-messages-width-min: 190px;

// MEDIA

$media-break: 1024px;

$media-break-s: 720px;

// Dashboard

$dashboard_menu-width: 250px;

$dashboard_menu-width-min: 180px;

$popup_height: 500px;

$popup_box_width: 500px;

$popup_box_width-minified: 250px;

$dashboard_header-height: 60px;

// Popup

$popupMenuWidth: 150px;

$popupMenuWidth-min: 50px;

$border-radius: 5px;

* {
  font-family: Helvetica Neue, Arial, sans-serif;
}

.w-100 {
  width: 100% !important;
}

.text-elipsis{
  overflow: hidden;
  white-space: nowrap;
  word-wrap: none;
  text-overflow: ellipsis;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-space-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.m0{
  margin: 0 !important;
}

.mt-1{
  margin-top:10px;
}

.mt-2{
  margin-top:20px;
}

.mt-3{
  margin-top:30px;
}

.mt-4{
  margin-top:40px;
}

.mb-2{
  margin-bottom:20px;
}

.mb-3{
  margin-bottom:30px;
}

.mb-4{
  margin-bottom:40px;
}

.my-2{
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.font-input {
  font-weight: 400;
  font-size: 1rem;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.ff-title {
  font-family: Ubuntu, Roboto, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif;
}

.h1-title,
.h1-title .rr-text-writer{
  color: #72777a;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: Ubuntu, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  letter-spacing: 0.01123rem;
  text-align: center;
  margin: 30px 0;
}

.text-center {
  text-align: center;
}

.ff-roboto {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.buttons-group {
  box-sizing: border-box;
  padding: 10px;
  max-width: 90%;
  margin: 20px 5%;
}

.buttons-group-delete-account {
  box-sizing: border-box;
  padding: 10px;
  max-width: 90%;
  margin: 0 5%;
}

.yellow {
  color: $yellow;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.lime {
  color: $lime;
}

.dodgerblue {
  color: $dodgerblue;
}

.little-gray {
  color: rgba(69, 69, 69, 0.7);
}

.action-icon {
  color: #313435;
  opacity: 0.8;
}

.action-icon:hover {
  cursor: pointer;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.py-2 {
  padding: 20px 0;
}

.my-2 {
  margin: 20px 0;
}

.my-0 {
  margin: 0px 0 !important;
}

.m-5-0{
  margin: 5px 0 !important;
}

.p-0-15{
  padding: 5px 15px !important;
}

.p-0{
  padding: 0px !important;
}

.no-padding {
  padding: 0px !important;
}

.mr-2 {
  margin-right: 20px;
}

h1,
.h1 {
  color: rgba(0, 0, 0, 0.77);
}

.text-center {
  text-align: center;
}

.icon-security {
  color: $orange-light;
}

.icon-images {
  color: $dodgerblue-light;
}

.icon-messages {
  color: rgb(122, 122, 122);
}

.icon-iframes {
  color: $green-light;
}

.icon-cookies {
  color: #deb887;
}

.cursor-pointer {
  cursor: pointer;
}

.ellipsis {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: none;
  text-overflow: ellipsis;
}

.button-action {
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: $dodgerblue;
  box-shadow: 0px 0px 3px $dodgerblue;
  color: $white;
  font-size: 0.87rem;
  transition-duration: $default_transition;
  border: 1px solid transparent;
  display: inline-block;
  margin: 10px 0;
  text-decoration: none;
}

.button-action:hover {
  border: 1px solid $dodgerblue;
  cursor: pointer;
}

.rr-sourcecode {
  border-radius: 5px;

  .code {
    background-color: #2D3748;
    overflow: hidden;
    border-radius: 5px;
    box-sizing: border-box;

    .single-code-line-first {
      .line-number,
      .line-code {
        padding-top: 10px;
      }
    }

    .single-code-line-last {
      .line-number,
      .line-code {
        padding-bottom: 10px;
      }
    }

    .line-number {
      box-sizing: border-box;
      padding: 3px 0 3px 7px;
      color: #718096;
      font-size: 0.77rem;
      margin-right: 10px;
    }

    .line-code {
      box-sizing: border-box;
      padding: 3px 0;
      letter-spacing: 0.077rem;
      font-size: 0.87rem;
    }
  }
}

.title-border {
  box-sizing: border-box;
  padding: 10px 0;
  margin: 10px 0 20px 0;
  color: $text-color;
  border-bottom: 1px solid $border-color;
  font-size: 1.1rem;

  i{
    margin: 0 10px;
  }
}

a{
  text-decoration: none;
  display: block;
}
a,
p,
div,
span,
h1,
h2{
  font-size: 0.87rem;
  letter-spacing: 0.023rem;
}

*::selection{
  background-color: black;
  color: $white;
}

.link-animation{
  width: 15%;
  min-width: 140px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: $dark-background-light;
  color: $white;
  position: relative;
  z-index: 2;
  margin: 20px auto;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link-animation:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  transition-duration: $default_transition;
  z-index: -1;
  background-color: $dark-background;
}

.link-animation:hover:after{
  height: 100%;
}

.Content{
  height: 100vh;
  overflow-y: auto;
}

.Header,
.History,
.Projects{
  .rr-popupbox{
    margin: 8px 30px 5px -20px;
    display: inline-block;

    .icon{
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: transparent;
        transition: $default_transition;
        border-radius: 50%;
        color: $white;
        padding: 5px;
        font-size: 1.1rem;
    }

    .icon:hover{
        cursor: pointer;
        background-color: rgba(122,122,122,.33);
    }

    .box.top-right{
        right: 10px;
        top: calc(100% + 10px);
        background-color: $white;
        min-width: 200px;

        .title{
            box-sizing: border-box;
            padding: 5px 10px;
            min-height: 30px;
            line-height: 30px;

            i{
                display: inline-block;
                margin-right: 10px;
            }
        }

        ul{
            margin: 0;
            padding: 0;

            li{
                box-sizing: border-box;
                padding: 10px 15px;
                margin: 5px 0;
                background-color: transparent;
                transition: $default_transition;
                color: rgb(122,122,122);
            }

            li:hover{
                background-color: $dodgerblue;
                color: $white;
                cursor: pointer;
            }
        }
    }
  }
}

.History,
.Projects{
  .header{
    display: flex;
    justify-content: space-between;

    .rr-popupbox{
      margin: 0px -15px 5px 20px !important;
    }
  }
}

.rr-articles-images{
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;

  .single-entry{
      margin: 20px;
      width: calc(100% - 40px);

      .title{
        padding: 15px 0;
        font-size: 1.1rem;
        width: calc(60% - 40px);
        color: $dodgerblue;
    }
  
    .text{
        display: inline-block;
        width: calc(60% - 40px);
        line-height: 20px;
        text-align: justify;
    }
  }

  .isMinified{
      .single-entry{
          margin: 10px 0;
          width: calc(100% - 20px);
      }   
  }

  .image-holder {
      margin: 10px;
      border-radius: $border-radius;

      .image{
          background-size: cover;
          background-repeat: no-repeat;
          background-blend-mode: darken;
          border-radius: $border-radius;
      }
  }
}

.History,
.Projects{
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .rr-menu-click-horizontal {
    .single-entry{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition-duration: $default_transition;
        border-radius: 0px;
        background-color: transparent;

        a{
            color: #72777a;
            transition-duration: $default_transition;

            i{
                display: inline-block;
                width: 30px;
                text-align: center;
                margin-right: 10px;
            }
        }
    }

    .single-entry:hover{
        background-color: rgba(192,192,192,.2);
    }
  }

  .footer-links{
      width: 100%;

      a{
          width: 100px;
          box-sizing: border-box;
          padding: 10px;
          border-radius: $border-radius;
          margin: 10px;
      }
  }
}

#app{
  .History,
  .Projects{
      .rr-popupbox{
          float: right;
          margin: 0 10px;

          .icon{
              color: #72777a;
          }
          .icon:hover{
              background-color: rgba(122,122,122,.13);
          }
      }
  }
}