.Home{
    .picture{
        width: 100vw;
        min-height: 100vh;
        height: auto;
        overflow: auto;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        background-attachment: fixed;
        background-image: url('https://images.unsplash.com/photo-1602523961358-f9f03dd557db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
        background-size: cover;
    }

    .data{
        max-width: 1400px;
        margin: 30px auto;
        box-sizing: border-box;
        padding: 0 20px;

        .rr-cards{
            width: 100%;

            .card{
                width: 100%;
            }

            .isMinified{
                .card{
                    width: calc(100% - 40px);
                }
            }
        }
    }
}