.Projects{
    .link{
        width: 100%;
        clear: both;

        .link-animation{
            float: left;
            margin: 20px 0;
            min-width: 100px;
            padding: 5px 10px;
        }
    }
}